

:root {
  --primary-color: #54a2fa;         /* fallback */
  --input-bg-color: #e6e6e6;        /* fallback */
  --button-primary-color: #eeeeee;
  --button-secondary-color: #eeeeee;
  --scrollbar-track-color: #f1f1f1; /* optional */
  --navbar: #eeeeee;
}

.layout-main {
  height: calc(100vh - var(--navbar-height) - var(--page-head-height) - 5px) !important;
  max-width: 100% !important;
  margin: 0 !important;
}

.section-head,
.section-body {
  max-width: 100% !important;
  margin: 0 !important;
}

.form-footer {
  max-width: 100% !important;
  margin: 0 !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--scrollbar-track-color) !important;
}

.form-control {
  background-color: var(--input-bg-color) !important;
}

.awesomplete .input-with-feedback {
  background-color: var(--input-bg-color) !important;
  color: var(--text-color);
}

.widget.shortcut-widget-box:hover {
  --icon-stroke: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.form-links .document-link:hover {
  border-color: var(--primary-color) !important;
}

.active-sidebar {
  background: var(--primary-color) !important;
}

.active-sidebar .sidebar-item-label {
  color: white !important;
}

.form-tabs-list .form-tabs .nav-item .nav-link.active {
  font-weight: 600;
  border-bottom: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  padding-bottom: 9px;
}


.like-disabled-input {
  min-height: var(--input-height);
  border-radius: var(--border-radius-sm);
  padding: 4px 8px;
  cursor: default;
  color: var(--disabled-text-color);
  background-color: var(--input-bg-color);
}



.btn-primary {
  background-color: var(--button-primary-color) !important;
  color: white !important;
}

.btn-default{
  background-color: var(--button-secondary-color) !important;
  /* color: white !important; */
}



.navbar {
  background: var(--navbar) !important;
}